.Home {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

#home-headline-list {
  list-style: none;
  width: 240px;
  position: absolute;
  padding: 0;
  z-index: 5;
}

#home-headline-list ul {
  min-height: 65px;
  max-width: 100px;
  position: relative;
}

#home-headline-list li {
  text-align: left;
  padding: 4px 10px;
  z-index: 2;
  position: relative;
  margin-bottom: 2px;
  cursor: pointer;

  /* Animations */
  will-change: color, font-weight;
  transition: color 1s, font-weight 1s;
  color: rgb(234, 233, 233);
  letter-spacing: 0.6px;
}

#home-headline-list li.pointer {
  color: rgb(23, 23, 23);
  font-weight: bold;
  letter-spacing: 0.3px;
}

#home-headline-list li.marker {
  background-color: white;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  /* Animations */
  will-change: transform;
  transition: transform 1s;
}

.pub-preview {
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
}

.pub-preview-images {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.external-link {
  background-color: white;
  padding: 2px;
  position: absolute;
  right: 10px;
  z-index: 4;
  /* animation: animAuthorLink 10s linear forwards; */
}

.external-link img {
  width: 20px;
  height: 20px;
}

.pub-preview .article-image.pointer {
  display: flex;
}

.pub-preview .article-image {
  height: 600px;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  justify-content: center;
  position: absolute;
  z-index: 1;
  display: flex;
  
  /* Animations */
  transform-origin: right;
  transform: translate(0px, 140%) rotate3d(1, 6, 0, 75deg);
  perspective: 120000px;
}

/* Start article-image-effect */
.article-image-effect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;

  /* Animations */
  background-size: 300%;
  will-change: background-color, animation;
  transition: background-color 1s ease-out;
  background: transparent;
}

.article-image-effect .pub-preview-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article-image-effect .pub-preview-intro span {
  display: inline;
  background-color: #f2ca00;
  margin-bottom: 4px;
  padding: 10px;
  line-height: 22px;
  font-size: 22px;

  /* Animations */
  will-change: transform, color;
  animation-timing-function: cubic-bezier(0.51,-0.01, 0.06, 1.04);
  transform: translateX(-120%);
  color: #f2ca00;
  animation-name: pubPreviewIntroText;
  animation-duration: 10s;
  animation-delay: calc(var(--jdx) * 2.5s);
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.bring-the-picture-here .article-image-effect .pub-preview-intro span {
  animation-play-state: running;
}

.take-away-photography .article-image-effect .pub-preview-intro span {
  animation-play-state: running;
}

.paragraph-line {
  display: flex;
}

.article-image-effect .pub-preview-intro .img-statistics {
  padding: 4px 4px 2px;
  background-color: rgb(243, 243, 243);
  margin: 15px auto 15px 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.article-image-effect .pub-preview-intro .img-statistics img {
  width: 35px;
  height: 35px;
}
/* End article-image-effect */

.pub-preview .article-image img {
  height: 100%;
  position: relative;
  top: 0px;
  z-index: 2;
}

/* Article preview transitions */
.bring-the-picture-here {
  animation: bringHere 6.4s cubic-bezier(0.51,-0.01, 0.06, 1.04) forwards;
  z-index: 2;
}

.take-away-photography {
  animation: takeaway 6.4s cubic-bezier(0.51,-0.01, 0.06, 1.04) forwards;
  z-index: 1;
}
/* End Article preview transitions */

.pub-preview-intro-speak {
  display: flex;
  max-height: 0px;
}

.pub-preview-intro-speak.open {
  max-height: 600px;
}

.pub-preview-intro-speak .ppis-message {
  max-width: 260px;
  padding: 10px;
  line-height: 20px;

  /* Animations */
  will-change: transform;
  transition: transform .6s cubic-bezier(0.67, 0.52, 0.61, 1.54);
  transform: scale(0);
}

.pub-preview-intro-speak .ppis-message.pointer {
  transform: scale(1);
}

.ppis-message .ppis-conversation {
  background-color: rgb(217, 217, 217);
  padding: 6px;
  border-radius: 6px;
  text-align: left;
}

.ppis-prompt {
  display: flex;
}

.ppis-prompt .ppis-prompt-opt {
  background-color: rgb(238, 238, 238);
  margin: 2px 8px;
  padding: 2px 0;
  border-radius: 6px;
}

.ppis-message.field {
  display: flex;
  flex-direction: column;
}


.ppis-message.field input {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(177, 177, 177);
  font-size: 18px;
}

.ppis-message.field input:focus-visible {
  outline: unset;
}

.ppis-message.field .button-prompt-send-message {
  background-color: rgb(92, 164, 253);
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
}

/* Animations */
@keyframes bringHere {
  0% {
    transform: translate(0px, 140%) rotate3d(1, 6, 0, 75deg);
  }
  100% {
    transform: translate(0px, 0%) rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes takeaway {
  0% {
    transform: translate(0px, 0%) rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: translate(0px, -160%) rotate3d(8, 2, 1, 75deg);
  }
}

@keyframes animAuthorLink {
  0% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgLoading {
  0% {
    background-position: -10%;
  }
  0% {
    background-position: 60%;
  }
}

@keyframes pubPreviewIntroText {
  20% {
    transform: translateX(0%);
    color: #f2ca00;
  }
  28% {
    transform: translateX(0%);
    color: rgb(30, 30, 30);
  }
  to {
    transform: translateX(0%);
    color: rgb(30, 30, 30);
  }
}