
.bar-navigation {
  width: 100px;
  height: 200px;
  position: fixed;
  top: 52px;
  right: 0;
  z-index: 3;
}


.bar-navigation ul {
  list-style: none;
  padding: 0;
}


.bar-navigation ul li {
  display: grid;
  place-items: center;
  background-color: rgb(92, 164, 253);
  margin: 2px;
  cursor: pointer;
}

.bar-navigation ul li img {

  width: 30px;
}